.Maintext1 {
  font-size: 40px;
  font-family: 'Inter';
  font-weight: 200; 
  line-height: 51px;
  letter-spacing: 10px;
}
.Maintext2 {
  font-size: 20px;
  font-family: 'Inter';
  font-weight: 200; 
  line-height: 28px;
}
